/*------------------letra--------------------*/

@font-face{
	src: url('h.ttf');
	font-family: h1; 
}

@font-face{
	src: url('titulo.ttf');
	font-family: h2;
}

/*-----------------------------General-------------------------------------*/

*{
	margin: 0px;
	padding: 0px;
}

html{
	background-image: url(html.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

body{
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 30px;
	padding: 50px;
	background-color: white;
	border-radius: 15px;
	opacity: 0.80;
	box-shadow: 4px 4px 4px rgba(60, 60, 60, 0.6);
}

/*------------------------------------------Inicio------------------------------*/

nav{
	width: 77px;
	font-size: 1.2em;
	position: fixed;
	left: 0px;
	top: 20px;
	z-index: 20;
}

.menu li, .submenu li{
	list-style-type: none;
	padding: 10px;
	color: white;
}

.menu{
	border-top-right-radius: 15px;
	background-color: #666666;
}

.menu>li{
	display: inline-block;
	position: relative;
}

.menu li:hover{
	color: white;
	background-color: #666666;
	border-top-right-radius: 15px;
	color: white;
}

.submenu{
	border-bottom-right-radius: 15px;
	color: white;
	position: absolute;
	overflow: hidden;
	max-height: 0px;
	top: 40px;
	left: 0px;
	background-color: #666666;
	width: 100%;
	transition: 0.5s;
}

.menu>li:hover .submenu{
	max-height:500px;
}

#listas{
	color: white;
}

/*-------------------------------------galeria--------------------------*/

h1{
	font-family: h2; 
	font-size: 7em;
	text-align: center;
}

h2{
	font-family: h1;
	font-size: 3em;
	text-align: center;
	margin-bottom: 30px;
}

figure{
	height: 300px;
	width: 300px;
}

figure img{
	height: 200px;
	width: 300px;
}

.galeriapaisajes{
	display: flex;
	flex-wrap: wrap;
}

.galeriapaisajes figure{
	flex: 1;
	min-width: 220px;
	border:  solid 2px grey;
  	border-radius: 10px;
  	box-shadow:  5px 5px 5px rgba(60,60,60,0.5);
  	padding:  20px 20px 50px 20px;
 	margin: 10px;
 	width:  200px;
 	height:  200px;
 	background-color: white;
}

.galeriapaisajes figure img{
	width: 100%;
  	height: 100%;
  	filter: grayscale(1);
  	transition: filter 0.4s;
  	cursor: zoom-in;
}	

.galeriapaisajes figure:target{
	position: fixed;
	top: 5%; 
	left:5%;
	width: 80%; 
	height: 70%;
	padding: 6%;
	padding-bottom: 5%;
	background-color: white;
	z-index: 10;
}

.galeriapaisajes figure:target img{
  	filter: grayscale(0);
  	cursor: initial;
}
.galeriapaisajes figure:target figcaption{
   	font-size: 1.5em;
}

.galeriapaisajes figure:target .cerrar{
    display: initial;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60px;
    right: 60px;
  	cursor: pointer;
}

.galeriapaisajes figure:hover img{
  	filter: grayscale(0);
}

.galeriapaisajes figure figcaption{
  	color: grey;
  	text-align: center;
  	margin-top: 5px;
}

.cerrar{
  	display: none;
	height: 10px;
	width: 10px;
}

figcaption{
	font-size: 1.3em;
}

p{
	text-align: justify-all;
	font-family: Verdana;
	margin-top: 3%;
}
